.movies {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 60px;
  background: #202020;
  min-height: calc(100vh - 167px);
}
.movies__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.movies__switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin: 42px 0 69px 0;
}
.movies__h3 {
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
.movies__continue {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin-bottom: 159px;
}
.movies__next {
  cursor: pointer;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #2f2f2f;
  opacity: 1;
  transition: opacity 0.5s, visibility 0s linear;
}
.movies__next:hover {
  opacity: 0.7;
  transition: opacity 0.5s, visibility 0s linear;
}

@media screen and (max-width: 1278px) {
  .movies {
    padding-top: 80px;
  }
  .movies__next {
    margin: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies__switch {
    margin: 41px 0 50px 0;
  }
}

@media screen and (max-width: 500px) {
  .movies__switch {
    margin: 42px 0 49px 0;
  }
  .movies__next {
    margin: 0 10px;
  }
  .movies__h3 {
    font-size: 11px;
    margin: 0;
  }
}
