.student {
  max-width: 1280px;
  flex-shrink: 0;
  background: #202020;
  padding: 110px 70px 204px;
}

@media screen and (max-width: 768px) {
  .student {
    padding: 90px 50px 169px;
  }
}

@media screen and (max-width: 500px) {
  .student {
    padding: 70px 14px 149px;
  }
}