.movies__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #424242;
  padding: 80px 0 0 0;
  column-gap: 24px;
  row-gap: 37px;
  list-style-type: none;
  margin: 0;
  margin: 0 70px 60px;
}

.movies__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1278px) {
  .movies__cards {
    justify-content: center;
    margin: 0 30px 80px;
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies__cards {
    justify-content: center;
    margin: 0 30px 76px;
  }
}

@media screen and (max-width: 500px) {
  .movies__cards {
    padding: 50px 0 0 0;
    row-gap: 14px;
  }
}
