.student__sites {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 20px;
}

.student__portfolio {
  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 30px;
}

.student__link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
  text-decoration: none;
}

.student__link:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.student__info {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .student__info {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 500px) {
  .student__portfolio {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .student__info {
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: 28px;
  }

  .student__arrow {
    width: 12px;
    height: 22px;
  }
}
