.praktikum {
  max-width: 1280px;
}
.praktikum__components {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #073042;
}

.praktikum__logo {
  margin: 82px auto 122px;
  max-width: 319.996px;
  flex-shrink: 0;
}

.praktikum__title {
  position: absolute;
  color: #fff;
  max-width: 730px;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin-top: -4px;
}

@media screen and (max-width: 768px) {
  .praktikum__title {
    margin: -17px auto 0;
  }
  .praktikum__logo {
    margin: 224px auto 240px;
    max-width: 320px;
  }
}

@media screen and (max-width: 500px) {
  .praktikum__title {
    max-width: 300px;
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -1.24px;
    margin: 0;
    margin-bottom: 38px;
  }
  .praktikum__logo {
    margin: 142px 36px 180px;
    max-width: 248.005px;
  }
}
