.movies__search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1140px;
  width: 100%;
}
.movies__input {
  width: 100%;
  height: 18px;
  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  padding: 14px 0 14px 22px;
  border: none;
  border-radius: 40px;
  background: #2f2f2f;
}
.movies__search-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movies__input-error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #ff0000;
  margin: 0;
  min-height: 20px;
  margin-top: 15px;
}

.movies__button-arrow {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.5s, visibility 0s linear;
}
.movies__button-arrow:hover {
  opacity: 0.7;
  transition: opacity 0.5s, visibility 0s linear;
}

@media screen and (max-width: 1279px) {
  .movies__input {
    margin: 0 30px;
  }
  .movies__button-arrow {
    margin-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies__input {
    margin: 0 14px;
  }
  .movies__button-arrow {
    margin-right: 14px;
  }
}
